.bg-main-info {
  background-color: #315C96;
  border-radius: 0.5vw;
  width: 100%;
  padding: 1vw;
  color: white;
}

.main-title {
  font-size: 2.5vw;
  margin-bottom: 1vw;
}

.main-text { 
  font-size: 3.5vw;
}

.card {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  flex: 1 1 25vw;
  min-width: 15vw;
}

.card-title {
  font-size: 2vw;
}

.card-text {
  font-size: 1.5vw;
}

.list-group-item {
  margin-bottom: 1vw;
}

@media (max-width: 768px) {
  .main-title {
    font-size: 3.5vw;
  }

  .main-text { 
    font-size: 4.5vw;
  }

  .card-title {
    font-size: 3vw;
  }

  .card-text {
    font-size: 2.5vw;
  }
}

.btn-custom {
  background-color: #000458;
  border: none;
  color: aliceblue;
  padding: 0.5vw 1vw;
  font-size: 1.5vw;
  border-radius: 0.5vw;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-custom:hover {
  background-color: #00bd84;
  color: black;
}

.btn-custom:disabled {
  background-color: #414474;
  cursor: not-allowed;
}

.container-fluid {
  padding: 1vw 2vw;
}

.form-label {
  font-size: 1.5vw;
}

.form-control {
  font-size: 1.5vw;
  padding: 0.5vw;
}

.mb-3 {
  margin-bottom: 1.5vw;
}

@media (max-width: 575px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .router-container {
    width: 100%;
    padding: 5vw;
  }

  h1, h2, h3, h4, h5, h6, p, .form-label, .card-title, .card-text {
    font-size: 4vw;
  }

  .btn {
    font-size: 4vw;
    padding: 3vw 5vw;
  }

  .list-group-item {
    font-size: 4vw;
  }

  .form-control, .form-select {
    font-size: 4vw;
    padding: 3vw;
  }
}