<div class="container-fluid d-flex flex-column w-75 bg-main-info mt-4 p-4 rounded">
  <h2 class="main-title text-white">Extrato de Transações</h2>

  <div class="form-group row mb-3">
    <label class="col-sm-2 col-form-label text-white main-text">Mês e Ano:</label>
    <div class="col-sm-5">
      <select class="form-control" [(ngModel)]="selectedMonth" (change)="loadTransactions()">
        <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
      </select>
    </div>
    <div class="col-sm-5">
      <select class="form-control" [(ngModel)]="selectedYear" (change)="loadTransactions()">
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>
  </div>

  <div class="table-responsive mx-auto" style="max-width: 90%;">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Data</th>
          <th>Tipo</th>
          <th>Descrição</th>
          <th>Valor</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.date }}</td>
          <td>{{ transaction.type }}</td>
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.amount | currency }}</td>
          <td>
            <button class="btn btn-danger" (click)="onDeleteTransaction(transaction)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
