.router-container {
  width: 80%;
  height: 100%;
  padding: 0.5vw 2vw;
}

@media (max-width: 575px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .router-container {
    width: 100%;
    padding: 5vw;
  }

<<<<<<< HEAD
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  .card-title,
  .card-text {
=======
  h1, h2, h3, h4, h5, h6, p, .card-title, .card-text {
>>>>>>> dff2b1e4d321b4e11f75c37945b1e5e6355e2069
    font-size: 4vw;
  }

  .btn {
    font-size: 4vw;
    padding: 3vw 5vw;
  }

  .list-group-item {
    font-size: 4vw;
  }

<<<<<<< HEAD
  .form-control,
  .form-select {
=======
  .form-control, .form-select {
>>>>>>> dff2b1e4d321b4e11f75c37945b1e5e6355e2069
    font-size: 4vw;
    padding: 3vw;
  }
}
