.password-requirements {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

button {
  background-color: #000458;
  border: #000458;
  color: aliceblue;
}

button:hover{
  background-color: #00bd84;
  color: black;
}

button:disabled {
  background-color: #414474;
  color: aliceblue;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

@media (max-width: 575px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .router-container {
    width: 100%;
    padding: 5vw;
  }

  h1, h2, h3, h4, h5, h6, p, .form-label, .card-title, .card-text {
    font-size: 4vw;
  }

  .btn {
    font-size: 4vw;
    padding: 3vw 5vw;
  }

  .list-group-item {
    font-size: 4vw;
  }

  .form-control, .form-select {
    font-size: 4vw;
    padding: 3vw;
  }
}