.bg-main-info {
  background-color: #315C96;
  border-radius: 0.5vw;
  width: 100%;
  padding: 1vw;
  color: white;
}

.main-title {
  font-size: 2.5vw;
  margin-bottom: 1.5vw;
}

.main-text { 
  font-size: 3.5vw;
}

.card {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  flex: 1 1 25vw;
  min-width: 15vw;
}

.card-title {
  font-size: 2vw;
}

.card-text {
  font-size: 1.5vw;
}

.list-group-item {
  margin-bottom: 1vw;
}

@media (max-width: 768px) {
  .main-title {
    font-size: 5vw;
  }

  .main-text { 
    font-size: 6vw;
  }

  .card-title {
    font-size: 4vw;
  }

  .card-text {
    font-size: 3vw;
  }
}
